<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/rzslider.css">
        <link rel="stylesheet" href="css/main.css">

        <script src="js/vendor/jquery-1.11.2.min.js"></script>
        <script src="js/vendor/angular.min.js"></script>
        <script src="js/vendor/rzslider.min.js"></script>
        <script src="js/vendor/fcsaNumber.min.js"></script>
        <script src="js/main.js"></script>
    </head>
    <body ng-app="downtimeCalcApp" ng-controller="downtimeCalcCtrl">
        <img src="img/logo.png" class="logo">

        <div class="config" ng-show="showConfig">
            <form>
                <label>Increment Size:</label>
                <select ng-model="incrementType">
                    <option value="hours">hours</option>
                    <option value="minutes">minutes</option>
                    <option value="seconds">seconds</option>
                </select>
                <input type="text" ng-model="incrementSize" fcsa-number="{ preventInvalidInput: true }"></input>
                <br><br>
                <p>Help Info:</p>
                <ul>
                    <li>While the timer is running use the up/down arrows to increment the timer</li>
                    <li>Press "c" or "escape" to exit this popup</li>
                </ul>
            </form>
        </div>

        <form ng-submit="startCalculations()">
            <div ng-show="step == 1">
                <fieldset>
                    <legend>Lost Sales</legend>

                    <label>Yearly Revenue:</label>
                    <input type="text" ng-model="yearlyRevenue" fcsa-number="{ preventInvalidInput: true }"></input>
                    <br>
                    <label>Business Hours per Year:</label>
                    <input type="text" ng-model="hoursPerYear" fcsa-number="{ preventInvalidInput: true }"></input>
                    <br>
                    <label>Impact to Sales:</label>
                    <rzslider rz-slider-model="impactToSales" rz-slider-ceil="100" rz-slider-step="5"></rzslider>
                </fieldset>
                <br>
                <fieldset>
                    <legend>Lost Productivity</legend>

                    <label>Number of Employees Affected:</label>
                    <input type="text" ng-model="numEmployees" fcsa-number="{ preventInvalidInput: true }"></input>
                    <br>
                    <label>Average Employee Cost per Hour:</label>
                    <input type="text" ng-model="employeeCostPerHour" fcsa-number="{ preventInvalidInput: true }"></input>
                    <br>
                    <label>Average Percentage they are Affected:</label>
                    <rzslider rz-slider-model="percentAffected" rz-slider-ceil="100" rz-slider-step="5"></rzslider>
                </fieldset>
                <br>

                <div style="text-align: right;">
                    <input type="submit" value="Calculate" class="myButton"></input>
                </div>
            </div>

            <div class="step2" ng-show="step == 2">
                <h1>{{ downtimeCost | currency }}</h1>
                <br>
                <div class="downtime">
                    <label>Downtime:</label>
                    <input type="text" ng-model="hours" ng-focus="toggleCalculations()" ng-blur="toggleCalculations(false, true)" fcsa-number="{ preventInvalidInput: true }"></input>
                    :
                    <input type="text" ng-model="minutes" ng-focus="toggleCalculations()" ng-blur="toggleCalculations(false, true)" fcsa-number="{ preventInvalidInput: true }"></input>
                    :
                    <input type="text" ng-model="seconds" ng-focus="toggleCalculations()" ng-blur="toggleCalculations(false, true)" fcsa-number="{ preventInvalidInput: true }"></input>
                    <br><br>
                    <button ng-click="toggleCalculations(true)" class="myButton" type="button">{{calculationToggle}}</button>
                    <button ng-click="backToForm()" class="myButton" type="button">Back</button>
                </div>
            </div>
        </form>

        <div class="gradient"></div>
    </body>
</html>
